*{
               margin: 0;
               padding: 0;
               font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec1{
               background: linear-gradient(135deg,rgb(2, 32, 75) ,rgb(23, 136, 241));
               padding: 30px 20px;
               text-align: center;
               text-transform: uppercase;
               /* padding: 10px; */


}
.sec1 h1{
color: rgb(250, 250, 250);
font-size: 40px;
text-decoration: underline;
margin: 10px 0;
}
.sec1 p{
color: aliceblue;
font-size: 19px;
text-decoration: underline;
line-height: 30px;

}

header{
          background-color: rgb(51, 57, 68);  
          padding:  25px  20px;   
          text-align: center;
}
header a{
               margin: 15px;
               color:#fff ;
               text-decoration: none;
               text-transform: uppercase;

}
main {
               background-color: rgb(185, 191, 197);
               padding: 20px;
}
.child1{
              background-color:#fff ; 
              padding: 30px 20px;
              border-radius: 15px;


}
.child1 h1{
               font-size: 25px;
               color: rgb(19, 19, 67);
               padding: 10px  0;
}
.child1 p{
               line-height: 30px;
               color: rgb(84, 89, 97);
}
.child1 div{
               background-color: rgb(40, 118, 187);
               padding: 20px;
               border-radius: 15px;
               text-align: center;
}
.child1 div p{
                 text-align: center;
               color: #fff;
               width: 100px;
               background-color: rgb(7, 60, 129);
               border-radius: 15px;
               margin: 10px;
               display: inline-block;
               /* height: 100px; */
               padding: 10px 8px;
}
.child2{
               background-color: #fff;
               margin: 20px 0;
               padding: 20px;
               border-radius: 15px;
}
.child2 h2{
               font-size: 28px;
               color: rgb(19, 19, 67);
               padding-bottom: 10px;
}
.child2 p{
               line-height: 30px;
}
footer{
               color: #fff;
               background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" fill="none" stroke="%233498db" stroke-width="2"/></svg>');
               background-position: center;
               background-size: 40px;
               background-color: rgb(10, 49, 88);
               padding: 20px;
}