@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap");
#heading {
  color: blue;
  text-align: center;
}
.p1 {
  color: rgb(225, 114, 114);
  font-size: 30px;
  /* font-weight: 900; */
  line-height: 90px;
text-transform: lowercase;
background-color: rgb(115, 81, 37);
text-decoration:none;

}
.parent{
               background-color: antiquewhite;
               text-align: center;
               border: 6px solid red;
               padding: 10px 20px 30px 40px ;
               margin: 40px 0 0 0;
               border-radius: 20px 90px;
}

.span1{
color: blue;
font-size: 40px;
}

img  {
               height: 400px;
               width: 200px;
               border-radius: 50%;
}