* {
  margin: 0;
  padding: 0;
}
body {
  height: 150vh;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 30;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.49);
  animation-name: move;
  animation-duration: 0.8s;
  background: transparent;
}
header h2 {
  width: 40%;
  color: rgb(3, 90, 92);
  font-size: 40px;
  transition: 0.2s;
}
header h2:hover {
  color: rgb(251, 92, 227);
}
header ul {
  list-style: none;
  display: flex;
  padding-right: 24px;
}
header li {
  margin: 0 15px;
  font-size: 20px;
  transition: 0.2s;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
header li:hover {
  /* color: rgb(255, 255, 255); */
}
header li::before {
  content: "";
  position: absolute;
  z-index: 0;
  transition: 0.2s;
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(45deg, rgb(68, 3, 94), rgb(222, 124, 212));
}
header li:hover::before {
  width: 100%;
}

@keyframes move {
  0% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0px);
    /* top: 0; */
  }
}

main {
  /* position: relative;
  top: 95px; */
  padding-top: 95px;
  overflow: hidden;
}
.heroSection {
  padding: 0 30px;
  background-color: rgba(117, 201, 237, 0.193);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 12;
}
.heroSection::before {
  content: "";
  position: absolute;
  right: 0;
  width: 70%;
  height: 200%;
  z-index: -20;
  background: linear-gradient(
    45deg,
    rgba(0, 174, 255, 0.099),
    rgba(30, 152, 200, 0.115)
  );
  animation-name: x;
  animation-duration: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes x {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heroSection h1 {
  font-size: 50px;
  color: transparent;
  background: linear-gradient(45deg, rgb(180, 37, 175), rgb(7, 206, 156));

  background-clip: text;
  margin-bottom: 20px;
}
.heroSection p {
  color: gray;
  font-size: 25px;
  width: 70%;
  /* text-align: justify; */
  margin: 20px 0;
}

.heroSection button {
  padding: 15px 20px;
  border: 1px solid rgb(4, 45, 99);
  border-radius: 25px;
  font-size: 20px;
  margin-right: 20px;
  background-color: transparent;
  color: rgb(9, 47, 108);
}
.heroSection button:nth-child(1) {
  background-color: rgb(8, 96, 228);
  color: aliceblue;
  transform: translateY(0px);
  transition: 0.2s;
  border: none;
}
.heroSection button:nth-child(1):hover {
  box-shadow: 1px 1px 20px 2px rgba(3, 39, 92, 0.267);
  transform: translateY(-5px);
}

.heroSection button:nth-child(1) i {
  transform: translateX(0px);
  transition: 0.2s;
}
.heroSection button:nth-child(1):hover i {
  transform: translateX(5px);
}

.heroSection button:nth-child(2):hover {
  background-color: rgb(8, 96, 228);
  color: aliceblue;
  border: none;
}

.heroSection button:nth-child(2) i {
  transform: rotate(0deg);
  transition: 0.6s;
}
.heroSection button:nth-child(2):hover i {
  transform: rotate(270deg);
}

.child2 {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: space-evenly;
}
.child2 div {
  width: 25%;
  padding: 20px;
  background-color: rgba(11, 143, 231, 0.481);
}
.child2 div i {
  color: aliceblue;
  background: linear-gradient(45deg, rgb(180, 37, 175), rgb(7, 206, 156));
  padding: 20px;
  border-radius: 50%;
  transform: rotateY(0deg);
  transition: 0.5s;
}
.child2 div:hover i {
  transform: rotateY(180deg) scale(1.2);
}

.child2 div.ainamtion {
  padding: 0;
  position: relative;
    overflow:hidden ;

}
.ainamtion div {
  background-color: rgba(0, 0, 0, 0.245);
  width: 85%;
  position: relative;
  bottom: -80px;
  /* transform: translateY(200px); */
  transition: .5s;
}
.ainamtion:hover div{
    bottom: 0px;
  /* transform: translateY(0); */

}

