/* .box {
  background-color: blanchedalmond;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px;
   gap: 30px; 
  row-gap: 40px;
  column-gap: 10px;
  background-color: blue;
  padding: 20px;
}
.box.item {
  background-color: blueviolet;
  grid-column:span 3;
   grid-row: 2/ span 2;
}
@media (max-width: 800px) {
  .container {
    background-color: rgb(226, 43, 186);
    grid-template-columns: repeat(2, 1fr);
  }
  .item1 {
    opacity: 0.6;
  }
  
}
@media (max-width: 300px) {
  .container {
    background: linear-gradient(45deg, red, blue);
  }
} */
/* 
header {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  align-items: center;
  padding: 20px;
}
header ul {
  display: flex;
  list-style: none;
}
header li {
  margin: 0 10px;
  font-size: 20px;
}
header h2{
             display: none;
} */

/* 
@media (max-width:900px) {
               header ul{
                              display: none;
               }
               header h2{
                              display: block;
               }
               
}

@media (max-width:395px) {
               header h1{
                              font-size: 20px;
               }
               header{
                              flex-direction: column;
               }
} */

img {
  width: 400px;
  height: 400px;
  filter: contrast(120%)  brightness(150%) ;
  transition: .5s;
}

img:hover{
               filter: contrast(100%);
}