*{
               margin: 0;
               padding: 0;

}
.container{
               display: flex;
               justify-content: center;
               height: 100vh;
               align-items: center;
               /* flex-wrap: wrap; */
               align-content: space-evenly;
               flex-direction: column-reverse;
}
.container div{
               width: 200px;
               height: 200px;
               background-color: rgb(144, 65, 222);
               border: 2px solid ;
}
.container div:nth-child(1){
               /* align-self: center; */
               /* flex-shrink: 0; */
               background-color: antiquewhite;
           
}.container div:nth-child(2){
               /* align-self: center; */
               background-color: rgb(3, 104, 76);
}

.container div:nth-child(3){
               /* align-self: center; */
               /* flex-grow:2 ; */
}